body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
    font-size: 35px;
}

h2:first-of-type {
    margin-top: 250px;
}

h3 {
    margin-top: 25px;
    font-size: 25px;
}

h4 {
    margin-top: 25px;
    font-size: 25px;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

#continueBtn {
    font-size: 24px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
  }
  
#continue-btn:hover {
    background-color: #3e8e41;
}

#getColorBtn {
    font-size: 24px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
  }
  
#getColorBtn:hover {
    background-color: #3e8e41;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }

#colorPalette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.colorBtn {
    width: 20px;
    height: 20px;
    margin: 3px;
    border: 1px solid black;
    cursor: pointer;
}

input[type=number] {
    width: 6em;
}

#Chick {
    position: absolute;
    top: 100px; 
    left: 175px; 
    width: 223px;
    height: 223px;
    background-color: white;
  }
  
  .highlight {
    border: 5px solid yellow;
  }
  
  #Rat {
    position: absolute;
    top: 100px;
    left: 415px;
    width: 223px;
    height: 223px;
    background-color: white;
  }
  
  #Dog {
    position: absolute;
    top: 100px;
    left: 655px;
    width: 223px;
    height: 223px;
    background-color: white;
  }
  
  #Monkey {
    position: absolute;
    top: 100px;
    left: 895px;
    width: 223px;
    height: 223px;
    background-color: white;
  }
  
  #Lion {
    position: absolute;
    top: 100px;
    left: 1135px;
    width: 223px;
    height: 223px;
    background-color: white;
  }

  
